{% from '_macros.html' import render_question_mark, render_field_error %}
{% extends 'base.html' %}
{% set active_page = "upload" %}
{% set max_file_size = 'Maximum file size: ' + config['MAX_FILE_SIZE'] + '.' %}
{% set max_data_dims = 'Maximum rows / columns: ' + config['MAX_SAMPLES']|string + ' / ' + config['MAX_FEATURES']|string + '.'%}

{% set tooltips = {
   "study_name": ("Name of the study","Please name your study, so when you hopefully return later to upload and analyse another dataset,
                   you can work on either of your previously uploaded studies, by simply choosing them in your profile. <br><br>
                   It has to be at least 3 character long and cannot be longer than 25 characters."),
   "dataset1": ("Exeperimental data","This must be space delimited .txt or .dat file, with columns representing q, I(q), err(I(q)
                 <br><br> No header or fotter are allowed
                 <br><br>If unsure about the exact formatting please check the example dataset in the Help menu.<br><br>" + max_data_dims +
                 "<br>" + max_file_size),
   "dataset2": ("Compressed PDB file","This must be a .zip or .tar file containig structural models in the PDB format
                <br><br>If unsure about the exact formatting please check the example dataset in the Help menu.<br><br>"),
   "dataset3": ("Simulated profiles","This must be a space delimited .txt or .sim file, with columns representing simulated
                intensities on the same q vetcor as experimental data.
                <br><br>If this file is uploaded, webserver will skip simultaions from PDB file
                <br><br>If unsure about the exact formatting please check the example dataset in the Help menu.<br><br>"),
   "skip_variational": ("Perform Bayesian Inference Only","Skip Variational Bayesian Inference step and go directly to Complete Bayesian Inference. This works if you have
            a smaller set of structures<br><br>"),
} -%}

{% block layout %}
{% if too_many_studies == 1 %}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="alert alert-info" role="alert">
            <h1>Exceeded the number of maximum studies</h1>
            We are sorry, but you exceeded the maximum number of uploadable studies. <br><br>
            Currently we can only store {{ config['ACTIVE_STUDY_PER_USER'] }} studies per user at any moment.<br><br>
            Please delete one of your existing one to upload a new one, but be aware that
            you can only upload {{ config['STUDY_PER_USER'] }} studies all together. <br><br>
            Thank you for your understanding,<br>
            {{ config['APP_NAME'] }} team
        </div>
    </div>
</div>
{% elif too_many_studies == 2 %}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="alert alert-danger" role="alert">
            <h1>Exceeded the total number of uploadable studies</h1>
            We are sorry, but currently we can only support {{ config['STUDY_PER_USER'] }} studies per user. <br><br>
            If you would need to analyse more, please write us using the contact menu.
            <br><br>
            Thank you for your understanding,<br>
            {{ config['APP_NAME'] }} team
        </div>
    </div>
</div>
{% else %}
<form id="upload-form" method="POST" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <div class="row ">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="page-header">
                <h1>Upload your data</h1>
            </div>
            <!-- ------------------ MISFORMATTED FILES -------------------- -->
            <div class="alert alert-danger" role="alert" id="error_misformatted">
                <h1>MISFORMATTED FILES</h1>
                We are sorry, but we were unable to save your study as some of your files were misformatted. <br><br>
                Please ensure that your files follow the formatting of the files used in the example in the Help section.<br><br>
                Please refresh this page to try again.
                <span id="error"></span>
            </div>
            <!-- -------------------- NAME OF THE STUDY ------------------- -->
            <div class="panel panel-default">
                <div class="panel-heading">{{ form.study_name.label }}
                    {{ render_question_mark(tooltips["study_name"]) }}
                </div>
                <div class="panel-body">
                    {{ form.study_name(class_="form-control", maxlength="25") }}
                    {{ render_field_error(form.study_name) }}
                </div>
            </div>
            <!-- ----------------------- DATASET 1 ------------------------ -->
            <div class="panel panel-default">
                <div class="panel-heading"><b>Experimental data (required)</b></div>
                <div class="panel-body">
                    <div class="row ">
                         <div class="col-lg-6">
                            {{ form.dataset1.label }}
                            {{ render_question_mark(tooltips["dataset1"]) }}
                            {{ form.dataset1(accept=".dat,text/plain") }}
                            {{ render_field_error(form.dataset1, 'medium_bottom') }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- ----------------------- DATASET 2 ------------------------ -->
            <div class="panel panel-default">
                <div class="panel-heading"><b>Structural library (required)</b></div>
                <div class="panel-body">
                    <div class="row" id="dataset_panel2">
                        <div class="col-lg-6">
                            {{ form.dataset2.label }}
                            {{ render_question_mark(tooltips["dataset2"]) }}
                            {{ form.dataset2(accept=".zip,.gz") }}
                            {{ render_field_error(form.dataset2, 'small_top') }}
                        </div>
                    </div>
                </div>
            </div>
             <!-- ----------------------- DATASET 3 ------------------------ -->
            <div class="panel panel-default">
                <div class="panel-heading"><b>Simulated SAS profiles (optional)</b></div>
                <div class="panel-body">
                    <div class="row" id="dataset_panel3">
                        <div class="col-lg-6">
                            {{ form.dataset3.label }}
                            {{ render_question_mark(tooltips["dataset3"]) }}
                            {{ form.dataset3(accept=".sim,text/plain") }}
                            {{ render_field_error(form.dataset3, 'small_top') }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><b> <a href="{{ url_for('tc') }}">
                    Terms and conditions</a> </b>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="progress" id="progress" style="display: none">
                <div class="progress-bar progress-bar-info progress-bar-striped"
                     id="progress-bar" role="progressbar" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
                </div>
            </div>

            <button type="button" id="upload-button" class="btn btn-info btn-block">
                <h4><strong><span id="upload-button-text">UPLOAD</span></strong></h4>
            </button>
        </div>
    </div>
</form>

<script type="text/javascript">
    var csrftoken = "{{ csrf_token() }}";
    var UPLOAD_URL = "{{ url_for('upload') }}";
    var PROFILE_URL = "{{ url_for('profile') }}";
    var ERROR_URL = "{{ url_for('something_wrong', page='upload') }}";
    var TOO_LARGE_URL = "{{ url_for('too_large_file') }}";
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endif %}
{% endblock %}