{% extends 'base.html' %}
{% set active_page = "" %}

{% set bootstro = {
   "1": ("Inferered models as provided by the user"),
   "2": ("Ensemble (blue line) fitted to experimental data (black points)"),
   "3": ("Inferred models summart "),
   "4": ("Additional measures calculated for inferred ensemble"),
} -%}


{% block layout %}

<link href="{{ url_for('static', filename='css/bootstro.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/vis.css') }}" rel="stylesheet">

<!-- ===================================================================== -->
<!--  H E A D E R  -->
<div class="row">
    <div class="col-xs-12 bootstro title"
        data-bootstro-title=" Tour of results explorer"
        data-bootstro-content="Provide a nice tour of the features of your interface so user
                               can understand it fully.
                              <br><br>
                              You can navigate this tour with the buttons below, or with the
                              &rarr; &darr;, &larr; &uarr; keys
                              <br><br>
                              If you'd like to skip this tour now, and come back to it later, click
                              the question mark in the top-right corner."
        data-bootstro-step = "0"
        data-bootstro-placement="bottom">
        <h2 style="padding-left: 15px;">
            <b>{{analysis_name}} </b> <span style="color: #bebebe">|</span>

            <a id="help" href="#" ><span class="fa fa-question" aria-hidden="true" style="float: right; padding-top: 0px; padding-right: 10px; font-size: 1em;"></span></a>
        </h2>
    </div>
</div>

<div class="row">
    <!-- ===================================================================== -->
    <!--  LEFT COLUMN  -->
    <div class="col-xs-12 col-sm-6 bootstro title"
        data-bootstro-title="Models"
        data-bootstro-content="Inferred structural models"
        data-bootstro-step = "1"
        data-bootstro-placement="bottom">
        <div class="page-header">
            <h3 style="padding-left: 15px;">Models</h3>
        </div>
         <script src="{{ url_for('static', filename='js/ngl.js') }}"></script>
        <script>
        document.addEventListener("DOMContentLoaded", function () {
        var stage = new NGL.Stage("viewport", {backgroundColor:'white'});
        stage.loadFile("{{ url_for('get_file', user_id=user_id, study_id=analysis_id, analysis=1,
        file=analysis_folder+'/output/ensemble.pdb') }}").then(function (o) {
        o.addRepresentation("cartoon", {colorScheme: "modelindex"});
        o.autoView();
        });
        });
        </script>
        <div id="viewport" style="width:600px; height:450px;"></div>

    </div>

    <!-- ===================================================================== -->
    <!--  RIGHT CO -->
    <!-- ===================================================================== -->

    <div class="col-xs-12 col-sm-6 bootstro title"
        data-bootstro-title=" Fit"
        data-bootstro-content="Model ensmeble (blue line) fit to experimental data (black points)."
        data-bootstro-step = "2"
        data-bootstro-placement="bottom"
        style="border-right:1px solid #eaeaea;">
        <div class="page-header">
            <h3 style="padding-left: 15px;">Fit to experimental data</h3>
        </div>

        <img src="{{ url_for('get_file', user_id=user_id, study_id=analysis_id, analysis=1,
        file=analysis_folder+'/output/fit.png') }}"/>
    </div>
</div>

<div class="row">
    <div class="page-header">
            <h3 style="padding-left: 15px;">Population Weights</h3>
    </div>
     <table class="table table-striped bootstro"
                data-bootstro-title="Inferred models summary"
                data-bootstro-content="This section lists inferred models.
                                       <br><br><b>Weight</b> Population weights infererd ussing pystan.
                                       <br><b>Standard error of mean</b> from pystan.
                                       <br><b>Standard deviation</b> from pystan
                                       <br><b>Effective sample size</b> from pystan.
                                       <br><b>Rhat</b>: scale reduction factor from pystan
                                       <br><b>Distribution</b>: posterior distribution of parameters."
                data-bootstro-step = "3"
                data-bootstro-placement="bottom">
            <thead >
                <tr>
                    <th class="col-md-8">Model</th>
                    <th class="col-md-2 text-center">Weight (mean)</th>
                    <th class="col-md-2 text-center">Standard error of mean</th>
                    <th class="col-md-2 text-center">Standard deviation</th>
                    <th class="col-md-2 text-center">Effective sample size</th>
                    <th class="col-md-2 text-center">Scale reduction factor (Rhat)</th>
                    <th class="col-md-2 text-center">Distribution</th>
                </tr>
            </thead>
            <tbody>
                {% for model in ensemble_models %}
                <tr>
                    <!-- -------------------- NAME ------------------------ -->
                    <td><a href="{{ url_for('get_file', user_id=user_id, study_id=analysis_id, analysis=1,
                        file=analysis_folder+'/output/'+model.model_name)}}">{{ model.model_name }}
                    </a>
                    </td>
                    <!-- -------------------- WEIGHTS ------------------------ -->
                    <td class="text-center">
                        {{ model.model_weight }}
                    </td>
                    <!-- -------------------- ERROR --------------------- -->
                    <td class="text-center">
                        {{ model.model_sem }}
                    </td>
                    <!-- -------------------- ERROR --------------------- -->
                    <td class="text-center">
                        {{ model.model_sd }}
                    </td>
                    <!-- -------------------- neff ------------------------ -->
                    <td class="text-center">
                        {{ model.model_neff }}
                    </td>
                    <!-- -------------------- Rhat --------------------- -->
                    <td class="text-center">
                        {{ model.model_rhat }}
                    </td>
                    <!-- -------------------- DISTRIBUTION ---------------------- -->
                    <td class="text-center">
                        <a href="{{ url_for('get_file', user_id=user_id, study_id=analysis_id, analysis=1,
                        file=analysis_folder+'/output/stan_weight_'+model.model_name+'.png') }}">
                        <img src="{{ url_for('get_file', user_id=user_id, study_id=analysis_id, analysis=1,
                        file=analysis_folder+'/output/stan_weight_'+model.model_name+'.png') }}" width="100" height="60"/>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
</div>

<div class="row">
    <div class="page-header">
            <h3 style="padding-left: 15px;">Additional metrics</h3>
    </div>
    <table class="table table-striped bootstro"
                data-bootstro-title="Additional measures"
                data-bootstro-content=" <br><br><b>Model Evidence</b>: reflecting model complexity vs fit to data.
                                       <br><b>JSD</b>: Jensen-Shannon Divergence.
                                       <br><b>Chi2</b>: Chi^2 between ensmble curve and experimental data."
                data-bootstro-step = "4"
                data-bootstro-placement="bottom">
        <thead >
                <tr>
                    <th class="col-md-2">Measure</th>
                    <th class="col-md-2 text-center">Value</th>
                </tr>
        </thead>
        <tbody>
            <tr>
                <td >
                 Model Evidence
                </td>
                <td class="text-center">
                 {{ model_evidence }}
                </td>
            </tr>
            <tr>
                <td >
                 JSD
                </td>
                <td class="text-center">
                 {{ jsd }}
                </td>
            </tr>
            <tr>
                <td >
                 &#967;<sup>2</sup>
                </td>
                <td class="text-center">
                 {{ chi2 }}
                </td>
            </tr>
            <tr>
                <td >
                 Cormap
                </td>
                <td class="text-center">
                 {{ cormap }}
                </td>
            </tr>

        </tbody>
    </table>

</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstro.js') }}"></script>
<script type="text/javascript">

    function help(){
        bootstro.start('.bootstro', {
            onComplete: function (params) {
                alert("You have reached the end of the tour. Press 'Ok I got it' button or the Esc key to exit.");
            }
        })
    };
    $('#help').click(help);
</script>
{% endblock %}


